a {
    color: $internal_link_fg;
}

a:active {
    background-color: $active_link_bg;
}

a:hover {
    text-decoration: underline;
}

a[href ^="sftp://"],
a[href ^="ftp://"],
a[href ^="http://"],
a[href ^="https://"] {
    color: $external_link_fg;
    background: url($cssdir/external.png) center right no-repeat;
    padding: 0 13px 0 0;
}

a:active[href ^="http://"],
a:active[href ^="https://"] {
    background-color: $active_link_bg;
}

a[id ^="_r"] {
    color: $footnote_fg;
    vertical-align: super;
    font-size: x-small;
    text-decoration: none;
}

li[id ^="_n"] {
    font-size: small;
}

a[href ^="#_r"] {
    font-weight: bold;
    color: $footnote_backref_fg;
    text-decoration: none;
}

table {
    background-color: $table_bg;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}

.u {
    text-decoration: underline;
}

.o {
    text-decoration: overline;
}

span .tr {
     font-weight: bold;
     color: darkred;
}

span .co {
     font-size: small;
     color: slategray;
}

span .ex {
     font-family: "Times New Roman",serif;
     font-style: italic;
     color: darkblue;
}

span .abr {
     font-family: monospace;
     font-weight: bold;
     color: darkred;
}

span .pos {
     font-family: "Times New Roman",serif;
     font-weight: bold;
     font-style: italic;
     color: darkgreen;
}

span .tense {
     font-family: "Times New Roman",serif;
     font-style: italic;
     color: darkgreen;
}
