a:active {
    background-color: $active_link_bg;
}

.ref {
    color: $footnote_fg;
    vertical-align: super;
    font-size: x-small;
}

.note {
    font-size: small;
}

.int {
    color: $internal_link_fg;
}

.ext {
    color: $external_link_fg;
}

.notebackref {
    font-weight: bold;
    color: $footnote_backref_fg;
    text-decoration: none;
}

table {
    background-color: $table_bg;
}