Section: user/other
Priority: optional
Package: aarddict
Version: 0.7.0
Maintainer: Igor Tkach <itkach@users.sourceforge.net>
Description: 
	Aard Dicticionary is a dictionary application providing offline 
        access to dictionaries, Wikipedia and other reference materials.        
Architecture: all
Depends: python-pyicu (>= 0.8.1), python-simplejson
