[Desktop Entry]
Name=Aard Dict
Comment=Aard Dict is a dictionary and encyclopedia
Type=Application
Exec=aarddict
Icon=aarddict.png
Terminal=false
Categories=Utility;
StartupNotify=true